body{
    margin:0;
    font-family:Arial;
    background:#111;
    color:white;
}

/* HEADER */
.header{
    text-align:center;
    padding:30px;
    background:linear-gradient(to bottom, #000, #111);
}

/* LOGO */
.logo-img{
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:50%;
    margin-bottom:10px;
    border:2px solid orange;
}

/* NAV */
nav{
    text-align:center;
    background:#1b1b1b;
    padding:15px;
    position:sticky;
    top:0;
    z-index:1000;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:18px;
}

/* SECTIONS */
section{
    min-height:100vh;
    padding:80px 20px;
}

/* GALLERY */
.gallery{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.gallery img{
    width:200px;
    border-radius:10px;
}

/* CRUD */
#crud{
    background:#1a1a1a;
}

#crudForm{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    margin-bottom:10px;
}

#crudForm input{
    padding:10px;
}

#userList li{
    background:#333;
    margin:5px 0;
    padding:10px;
    display:flex;
    justify-content:space-between;
}
